.board {
    width:450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
}


  .squere {
    border: 1px solid #000000;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    transition: .5s;
    width: 150px;
    box-sizing: border-box;
    background-color: aliceblue;
    cursor: pointer;
  }


  .squere:hover {
    background-color: rgb(105, 142, 175);
  }




  .newGame {
    border-radius: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
    width: 200px;
    height: 80px;
    transition: 0.5s all ease;
    border: none;
  }


  .newGame:hover {
    border: none;
    cursor: pointer;
    background-color: rgb(105, 142, 175);
  }

  .game {
    margin-top: 200px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }


  .game__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  
  }


  .currentPlayer {
    color: #ffffff;
    font-size: 30px;

  }


